/*  your css code here. If applicable */
#yellow{
	border-color:green;
	background:yellow;
	border-top-style:1px solid;
	border-width:1px;
	border-bottom-style:1px solid;
	border-left-style:1px solid;
	border-right-style:1px solid;
}
#red{
	background:red;
	border-top-style:1px solid;
	border-color:black;
	border-width:1px;
	border-bottom-style:1px solid;
	border-left-style:1px solid;
	border-right-style:1px solid;
}
#green{
	border-top-style:1px solid;
	border-color:yellow;
	background:green;
	border-width:1px;
	border-bottom-style:1px solid;
	border-left-style:1px solid;
	border-right-style:1px solid;
}
